In [47]:
# import necessary libraries
import pandas as pd

# read the CSV file into a DataFrame
file_path1 = "/Users/GREATJOE COMPUTER/Contacts/Desktop/Data Science Project/NaijaCart_Sales_Data.csv"
df = pd.read_csv(file_path1)
#df.head()
#df.tail() 
df.describe()

           OrderID          Price   Quantity
count    15.000000      15.000000  15.000000
mean   1008.000000   55713.333333   3.266667
std       4.472136  104949.578824   3.453087
min    1001.000000     300.000000   1.000000
25%    1004.500000    1200.000000   1.000000
50%    1008.000000    2200.000000   2.000000
75%    1011.500000   65000.000000   4.000000
max    1015.000000  350000.000000  12.000000

In [48]:
# Check for missing values
df.isnull().sum()
#df.info()

OrderID             0
CustomerID          3
Product_Name        0
Product_Category    0
Price               0
Quantity            0
OrderDate           0
Country             0
dtype: int64

In [49]:
# Remove rows with missing values
clean_data = df.dropna()
clean_data = clean_data.reset_index(drop=True)
clean_data.info()
#print(clean_data.shape)
#print(clean_data.isnull())
#clean_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderID           12 non-null     int64
 1   CustomerID        12 non-null     object
 2   Product_Name      12 non-null     object
 3   Product_Category  12 non-null     object
 4   Price             12 non-null     int64
 5   Quantity          12 non-null     int64
 6   OrderDate         12 non-null     object
 7   Country           12 non-null     object
dtypes: int64(3), object(5)
memory usage: 900.0+ bytes

In [50]:
# create a new column for total sales
clean_data['Total_Sales'] = clean_data['Quantity'] * clean_data['Price']
clean_data.head()

,OrderID,CustomerID,Product_Name,Product_Category,Price,Quantity,OrderDate,Country,Total_Sales
0,1001,C001,Infinix Hot 10,Electronics,65000,1,2025-05-10,Nigeria,65000
1,1002,C002,Dangote Sugar 1kg,Groceries,1200,5,2025-05-11,Nigeria,6000
2,1004,C003,"Samsung 40"" TV",Electronics,250000,1,2025-05-12,Nigeria,250000
3,1005,C001,Indomie Noodles Carton,Groceries,8000,1,2025-05-13,Nigeria,8000
4,1006,C004,Peak Milk Tin,Beverages,800,10,2025-05-13,Nigeria,8000

In [51]:
# Calculate overall total sales
grand_total = clean_data['Total_Sales'].sum()
print(f"Grand Total Sales: {grand_total}")

Grand Total Sales: 853100

In [52]:
# Calculate average total sales
ave_total_sales = clean_data['Total_Sales'].mean()
print(f"Average Total Sales: {ave_total_sales}")

Average Total Sales: 71091.66666666667

In [53]:
# Find the product category with the highest total sales
product_category_sales = clean_data.groupby('Product_Category')['Quantity'].sum()
print(product_category_sales)

Product_Category
Beverages      11
Electronics     5
Groceries      14
Name: Quantity, dtype: int64

In [54]:
# Find the country with the highest total sales
max_sales_country = clean_data.groupby('Country')['Total_Sales'].max()
print(max_sales_country)

Country
Nigeria    350000
Name: Total_Sales, dtype: int64

In [55]:
# Find the top 5 highest performing products
highest_performing_product = clean_data.groupby('Product_Name')['Total_Sales'].sum().sort_values(ascending=False).head(5)
print(highest_performing_product)

Product_Name
LG Refrigerator              350000
Samsung 40" TV               250000
Infinix Hot 10               130000
Tecno Spark 8                 85000
Golden Penny Semovita 2kg     11000
Name: Total_Sales, dtype: int64